<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javalearning.javalearning.mapper.MemberMapper">
    <update id="logicDelete">
        update lib_member
        set deleted = 1
        where id = #{id}
    </update>

    <select id="query" resultType="javalearning.javalearning.pojo.vo.lib.member.LibMemberVO">
        select name, phoneNumber, identificationNumber, bookNumber, borrowTimes
        from lib_member
        where libId = #{libId}
        <if test="LMQVO.keywords != null">
            and (`name` like concat('%',#{LMQVO.keywords},'%')
            or `phoneNumber` like concat('%',#{LMQVO.keywords},'%')
            or `identificationNumber` like concat('%',#{LMQVO.keywords},'%'))
        </if>
    </select>

    <resultMap id="MemberDetailsMap" type="javalearning.javalearning.pojo.vo.lib.member.LibMemberVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phoneNumber" property="phoneNumber"/>
        <result column="identificationNumber" property="identificationNumber"/>
        <result column="bookNumber" property="bookNumber"/>
        <result column="borrowTimes" property="borrowTimes"/>
        <result column="createTime" property="createTime"/>
        <result column="createBy" property="createBy"/>
        <result column="updateTime" property="updateTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="libId" property="libId"/>
        <result column="deleted" property="deleted"/>
        <collection property="books" ofType="javalearning.javalearning.entity.LibBook"
                    column="id" select="javalearning.javalearning.mapper.BookMapper.selectByMemberId"/>
    </resultMap>
    <select id="queryForDetails" resultMap="MemberDetailsMap">
        select * from lib_member where id = #{id}
    </select>
</mapper>